In [3]:
import pandas as pd
from tjwb import wb

In [4]:
pre_df = pd.read_csv('data_example.csv')
pre_df

,timestamp,water_level,boxdrain_cong1,valveoverflow_tran1,valveoverflow_tran2,valveoverflow_tran3,pump_01
0,2014-01-01,25.00,0,0,0,0,12
1,2014-01-02,25.00,0,0,0,0,12
2,2014-01-03,25.00,0,0,0,0,12
3,2014-01-04,25.00,0,0,0,0,12
4,2014-01-05,25.00,0,0,0,0,12
5,2014-01-06,24.99,1,0,0,0,12
6,2014-01-07,24.99,1,0,0,0,12
7,2014-01-08,24.98,1,0,0,0,12
8,2014-01-09,24.98,1,0,0,0,12
9,2014-01-10,24.97,1,0,0,0,12
10,2014-01-11,24.97,1,0,0,0,12
11,2014-01-12,24.96,1,0,0,0,12
12,2014-01-13,24.96,1,0,0,0,12
13,2014-01-14,24.95,1,0,0,0,12
14,2014-01-15,24.94,2,0,0,0,12
15,2014-01-16,24.93,2,0,0,0,12
16,2014-01-17,24.91,2,0,0,0,12
17,2014-01-18,24.90,2,0,0,0,12
18,2014-01-19,24.89,2,0,0,0,12
19,2014-01-20,24.87,2,0,0,0,12
20,2014-01-21,24.85,1,0,0,0,12
21,2014-01-22,24.84,1,0,0,0,12
22,2014-01-23,24.83,1,0,0,0,12
23,2014-01-24,24.82,1,0,0,0,12
24,2014-01-25,24.81,1,0,0,0,12
25,2014-01-26,24.80,1,0,0,0,12
26,2014-01-27,24.79,1,0,0,0,12
27,2014-01-28,24.78,1,0,0,0,12
28,2014-01-29,24.76,1,0,0,0,12
29,2014-01-30,24.75,1,0,0,0,12
30,2014-01-31,24.74,1,0,0,0,12

In [7]:
ets_df = pd.read_csv('elevation_to_storage_example.csv')
ets_df

     elevation  storage
0        19.00    0.000
1        19.01    0.000
2        19.02    0.001
3        19.03    0.001
4        19.04    0.002
..         ...      ...
596      24.96    2.180
597      24.97    2.190
598      24.98    2.200
599      24.99    2.210
600      25.00    2.220

[601 rows x 2 columns]

In [8]:
wb = wb.WB(
    ets_df,
    22.5,
    0.7,
    22,
    3
)

In [9]:
df = wb.calculate(
    pre_df,
    3
)
df

,timestamp,water_level,boxdrain_cong1,valveoverflow_tran1,valveoverflow_tran2,valveoverflow_tran3,pump_01,delta_T,storage,Q_out_total,boxdrainOutflow_cong1,valveoverflowOutflow_tran1,valveoverflowOutflow_tran2,valveoverflowOutflow_tran3,Q_in
0,2014-01-01,25.00,0,0,0,0,12,0.0,2.22,12.000,0.000,0.0,0.0,0.0,0.000
1,2014-01-02,25.00,0,0,0,0,12,86400.0,2.22,12.000,0.000,0.0,0.0,0.0,12.000
2,2014-01-03,25.00,0,0,0,0,12,86400.0,2.22,12.000,0.000,0.0,0.0,0.0,12.000
3,2014-01-04,25.00,0,0,0,0,12,86400.0,2.22,12.000,0.000,0.0,0.0,0.0,12.000
4,2014-01-05,25.00,0,0,0,0,12,86400.0,2.22,12.000,0.000,0.0,0.0,0.0,12.000
5,2014-01-06,24.99,1,0,0,0,12,86400.0,2.21,14.504,2.504,0.0,0.0,0.0,14.388
6,2014-01-07,24.99,1,0,0,0,12,86400.0,2.21,14.504,2.504,0.0,0.0,0.0,14.504
7,2014-01-08,24.98,1,0,0,0,12,86400.0,2.20,14.497,2.497,0.0,0.0,0.0,14.381
8,2014-01-09,24.98,1,0,0,0,12,86400.0,2.20,14.497,2.497,0.0,0.0,0.0,14.497
9,2014-01-10,24.97,1,0,0,0,12,86400.0,2.19,14.491,2.491,0.0,0.0,0.0,14.375
10,2014-01-11,24.97,1,0,0,0,12,86400.0,2.19,14.491,2.491,0.0,0.0,0.0,14.491
11,2014-01-12,24.96,1,0,0,0,12,86400.0,2.18,14.484,2.484,0.0,0.0,0.0,14.368
12,2014-01-13,24.96,1,0,0,0,12,86400.0,2.18,14.484,2.484,0.0,0.0,0.0,14.484
13,2014-01-14,24.95,1,0,0,0,12,86400.0,2.17,14.477,2.477,0.0,0.0,0.0,14.361
14,2014-01-15,24.94,2,0,0,0,12,86400.0,2.15,15.989,3.989,0.0,0.0,0.0,15.758
15,2014-01-16,24.93,2,0,0,0,12,86400.0,2.14,15.972,3.972,0.0,0.0,0.0,15.856
16,2014-01-17,24.91,2,0,0,0,12,86400.0,2.12,15.938,3.938,0.0,0.0,0.0,15.707
17,2014-01-18,24.90,2,0,0,0,12,86400.0,2.11,15.921,3.921,0.0,0.0,0.0,15.805
18,2014-01-19,24.89,2,0,0,0,12,86400.0,2.10,15.904,3.904,0.0,0.0,0.0,15.788
19,2014-01-20,24.87,2,0,0,0,12,86400.0,2.08,15.869,3.869,0.0,0.0,0.0,15.638
20,2014-01-21,24.85,1,0,0,0,12,86400.0,2.06,14.408,2.408,0.0,0.0,0.0,14.177
21,2014-01-22,24.84,1,0,0,0,12,86400.0,2.04,14.401,2.401,0.0,0.0,0.0,14.170
22,2014-01-23,24.83,1,0,0,0,12,86400.0,2.03,14.394,2.394,0.0,0.0,0.0,14.278
23,2014-01-24,24.82,1,0,0,0,12,86400.0,2.02,14.387,2.387,0.0,0.0,0.0,14.271
24,2014-01-25,24.81,1,0,0,0,12,86400.0,2.01,14.380,2.380,0.0,0.0,0.0,14.264
25,2014-01-26,24.80,1,0,0,0,12,86400.0,2.00,14.373,2.373,0.0,0.0,0.0,14.257
26,2014-01-27,24.79,1,0,0,0,12,86400.0,1.99,14.366,2.366,0.0,0.0,0.0,14.250
27,2014-01-28,24.78,1,0,0,0,12,86400.0,1.98,14.359,2.359,0.0,0.0,0.0,14.243
28,2014-01-29,24.76,1,0,0,0,12,86400.0,1.96,14.344,2.344,0.0,0.0,0.0,14.113
29,2014-01-30,24.75,1,0,0,0,12,86400.0,1.95,14.337,2.337,0.0,0.0,0.0,14.221
30,2014-01-31,24.74,1,0,0,0,12,86400.0,1.94,14.330,2.330,0.0,0.0,0.0,14.214